<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Available</title>
    <link rel="stylesheet" href="found.css">
  </head>
  <body>
    <div class="not-available-container">
      <h1>Page Not Available</h1>
      <p>
        We're sorry, but the content you are looking for is not available at the
        moment.
      </p>
      <a href="/">Return to Home</a>
    </div>
  </body>
</html>
